:host {
  display: block;
  padding: 0 16px;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
form {
  width: 600px;
}
textarea {
  resize: vertical; 
  min-height: 300px;
  max-height: 300px;;
  width: 600px;
  background:#CEC8C8;
  border-color: none;
  float:left;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif!important; 
}
.result {
   float: left;
   padding:5px;
   text-align:left;
   margin-left:110px;
   overflow-y:auto;
   width: 600px;
   color:#fff;
   background-color:#3F313E;
   max-height: 300px;
}
.btn {
 margin-top:10px;
 text-align:left;
 float:left;
 background:#3F313E;
 border-width: 0px;
}
.btn:focus {
   margin-top:10px;
 text-align:left;
 float:left;
 background:#3F313E;
 border-width: 0px;
}
.btn:target {
 margin-top:10px;
 text-align:left;
 float:left;
 background:#3F313E;
 border-width: 0px;
}

.wrapper {
  text-align: center;
}
.page {
    max-width: 1366px;
    margin-top: 20px!important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
}
div.cursor {
  display: inline-block;
  background: #111;
  margin-left: 1px;

  -webkit-animation: blink 2s linear 0s infinite;
  -moz-animation: blink 2s linear 0s infinite;
  -ms-animation: blink 2s linear 0s infinite;
  -o-animation: blink 2s linear 0s infinite;
}
@-webkit-keyframes blink {
  0%   { background: #fff }
  47%  { background: #fff }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #fff }
}

@-moz-keyframes blink {
  0%   { background: #fff }
  47%  { background: #fff }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #fff }
}

@-ms-keyframes blink {
  0%   { background: #fff }
  47%  { background: #fff }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #fff }
}

@-o-keyframes blink {
  0%   { background: #fff }
  47%  { background: #fff }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #fff }
}
.mouseover {
  margin-top:10px;
  height: 40px;
  padding-top:10px;
  text-align: center;
  color:#fff;
  float: left;
  width: 100%;
  background:#3F313E;
  cursor: pointer;

}
.numberSentences {
  width: 50px;
  float: right;
  height: 30px;
  background: #807B78;
  border:none;
}
.numberSentencesDiv {
  float: left;
  width: 80%;
  text-align: left;
  color:#8f8f8f;
}
.resumeSentence {
  float:left;
  width: 100%;
  background: #807B78;
  border:none;
  margin-top:5px;
}
.checkbox {
  width: 50px;
  float: right;
  margin-right: -10px;
  background-color: #807B78;
  height: 30px;
}
.section {
  margin-top:15px;
  float: left;
  width: 100%;
}
h3 {
  margin-top:0px;
}